
@tailwind base;
@tailwind components;
@tailwind utilities;


/* general styles */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font: 10pt/12pt NeutraText;
	color: rgb(59,17,64);
	@apply bg-white bg-no-repeat bg-fixed bg-center bg-cover;
	background-image: url(/img/cover.jpg);
}

html.start nav h1, html.end header h1 {
	opacity: 0;
}
html.start header h1, html.end nav h1 {
	opacity: 1;
}

time {
	font-weight: bold;
}

img {
	@apply max-w-full mt-4;
}

section {
	box-sizing: border-box;
	max-width: 42rem;
	background-color: rgba(255,255,255,0.8);
	padding: 1.5rem;
	margin: 0 auto 3em;
}
section p, section li {
	font-size: 1.1rem;
	line-height: 1.4em;
}
section p:first-child {
	margin-top: 0;
	font-size: 1.3rem;
}
section p:last-child {
	margin-bottom: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	background-color: rgba(255,255,255,0.8);
	display: flex;
	flex-direction: row;
}
nav h1 {
	margin: 0.4rem 0 0 0;
	flex-grow: 4;
}
nav a {
	font-size: 1.2rem;
	display: inline-block;
	width: 1em;
	height: 1em;
	padding: 0.2em;
	margin-left: 0.2em;
	text-align: center;
	color: white;
	transition: all .15s ease-in-out;
	transition-property: background-color;
	background-color: rgb(59,17,64);
}
nav a:hover {
	background-color: rgb(194,36,59);
}



/* press kit specific */
#press-kit {
	background-color: rgba(255,255,255,0.95);
}
#press-kit header h1 {
	font-size: 5rem;
}
#press-kit h2 {
	text-align: left;
	font-weight: bold;
	font-size: 1.6rem;
}
#press-kit h3 {
	color: rgb(194,36,59);
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
#press-kit em {
	font-weight: 800;
}
#press-kit a {
	color: rgb(194,36,59);
	transition: all .15s ease-in-out;
	transition-property: color;
}
#press-kit a:hover {
	color: rgb(35,27,57);
	text-decoration: none;
}
#press-kit figure {
	margin: 0;
}
#press-kit figcaption {
	font-weight: bold;
}
#press-kit img {
	border: 1px solid rgb(59,17,64);
	margin: 0;
}

.team img {
	width: 100%;
}

@media screen and (min-width: 475px) {
	.team img {
		float: right;
		margin-left: 1em;
		margin-bottom: 1em;
		max-width: 200px;
	}
}

/* font face declarations */
@font-face {
	font-family: 'NeutraText';
	src: url(/fonts/NeutraText-Book.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NeutraTextBold';
	src: url(/fonts/NeutraText-Bold.otf) format('opentype');
	font-weight: bold;
	font-style: normal;
}